<header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
          <span>Adnan Autos</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ml-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about-us"> About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/services">Services</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact-us">Contact Us</a>
            </li>
          </ul>
          <div class="quote_btn-container">
            
            <a href="tel:00971509483571">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : +971 509483571
              </span>
            </a>
          </div>
        </div>
      </nav>
    </div>
</header>