<section class="info_section ">
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="info_contact ">
              <div class="row">
                <div class="col-md-3">
                  <a href="" routerLink="/contact-us" class="link-box">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>
                        Al Quoz, Dubai, UAE
                    </span>
                  </a>
                </div>
                <div class="col-md-5">
                  <a href="tel:00971509483571" class="link-box">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                      Call +971 509483571
                    </span>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="mailto:info@adnanautos.com?" class="link-box">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                        info@adnanautos.com
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5  col-lg-3 mx-auto">
            <div class="info_form ">
              <h4>Our Services</h4>
              <ul class="list" style="text-align: left ;">
                <li class="list-item" href="" routerLink="/services" >Denting</li>
                <li class="list-item" href="" routerLink="/services">Painting</li>
                <li class="list-item" href="" routerLink="/services">Electrician</li>
                <li class="list-item" href="" routerLink="/services">Tuning & Maintenance</li>
                <li class="list-item" href=""routerLink="/services">Detailing & Polishing</li>
                <li class="list-item" href="" routerLink="/services">Home Car Inspection</li>
                <li class="list-item" href="" routerLink="/services">Sale and Purchase</li>

              </ul>
            </div>
          </div>
        </div>
        <div class="info_logo">
          <a class="navbar-brand" href="index.html">
            <span>
              Adnan Autos
            </span>
          </a>
        </div>
        <div class="social-box">
          <a href="https://www.facebook.com/adnanautorepair">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-google" aria-hidden="true"></i>
          </a>
          <a href="https://instagram.com/adnanautogarage">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-tiktok" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
</section>
<footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://adnanautos.com">Adnan Autos</a>
      </p>
    </div>
  </footer>
