<section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="assets/images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
                We are a small team of mechanics, electricians and technicians who started our business venture in Pakistan. We are rapidly growing and now opening the doors of our services to the people living in the United Arab Emirates. We provide:        
            <br>
            <ul class="list">
                <li class="list-item">High quality services that are cost-effective.</li>
                <li class="list-item">Assistance that you need right at the comfort of your home.</li>
                <li class="list-item">Experienced team members that aid you in finding what's the best for your need.</li>
              </ul>
            <a href="" routerLink="/contact-us">
              Learn More
            </a>
          </div>
        </div>
      </div>
    </div>
</section>